.lang_list
{
	display: inline-block;
}
.lang_list > li
{
	display: inline-block;
}
.lang_list li a
{
	color: rgba(0,0,0,0.4);
	padding-top: 17px;
	padding-bottom: 17px;
}
.lang_list li a:hover
{
	color: rgba(0,0,0,1);
}
.lang_list li a i
{
	margin-left: 0px;
}
.lang_list > li ul
{
	position: absolute;
	right: -10px;
	top: 44px;
	background: #FFFFFF;
    width:330px;
    height: 200px;
    overflow: hidden;
	padding-right: 50px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 15px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.vl {
    border-left: 1px solid green;
    height: 200px;
}
.lang_list > li:hover ul
{
	top: 34px;
	visibility: visible;
	opacity: 1;
}
.lang_list > li ul li
{
	text-align: right;
	
	
}
.lang_list > li ul li a
{
	display: block;
	padding-top: 7px;
	padding-bottom: 7px;
}